params {
    cohort_prefix = "${STUDY}_${PROJECT}_${COHORT}"
    caveman_vcfs = "${PROJECT_DIR}/analysis/caveman_files/**.smartphase.vep.vcf.gz"
    caveman_outdir = "${PROJECT_DIR}/analysis/caveman_files"
    pindel_vcfs = "${PROJECT_DIR}/analysis/pindel_files/**.pindel.vep.vcf.gz"
    pindel_outdir = "${PROJECT_DIR}/analysis/pindel_files"
    outdir = "${PROJECT_DIR}/analysis/variants_combined"
    release_version = "version1"
    metadata_manifest = "${PROJECT_DIR}/metadata/${STUDY}-biosample-manifest-completed.tsv"
    all_samples = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-analysed_all_tum.txt"
    one_per_patient = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-one_tumour_per_patient_all_tum.txt"
    independent = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-independent_tumours_all.tsv"
  
}