params {
    cohort_prefix = "${STUDY}_${PROJECT}_${COHORT}"
    caveman_vcfs = "${PROJECT_DIR}/analysis/caveman_files/**.smartphase.vep.vcf.gz"
    caveman_outdir = "${PROJECT_DIR}/analysis/caveman_files"
    pindel_vcfs = "${PROJECT_DIR}/analysis/pindel_files/**.pindel.vep.vcf.gz"
    pindel_outdir = "${PROJECT_DIR}/analysis/pindel_files"
    outdir = "${PROJECT_DIR}/analysis/variants_combined"
    release_version = "version1"
    metadata_manifest = "${PROJECT_DIR}/metadata/${STUDY}-biosample-manifest-completed.tsv"
    subcohorts = [
        "all": [
            sample_list: "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-analysed_all_tum.txt"
        ],
        "onePerPatient": [
            sample_list: "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-one_tumour_per_patient_all_tum.txt"
        ],
        "independent": [
            sample_list: "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-independent_tumours_all.tsv"
        ]
    ]
    publish_dir_mode = "copy"
    exome_size = 48.225157
    baitset = "/lustre/scratch127/casm/projects/dermatlas/resources/baitset/GRCh38_WES5_canonical_pad100.merged.bed"
    dbsnp_variants = "/lustre/scratch127/casm/projects/dermatlas/resources/dbsnp/dbSNP155_common.tsv.gz{,.tbi}"
    dbsnp_header = "/lustre/scratch127/casm/projects/dermatlas/resources/dbsnp/addheader.txt"
    genome_build = "GRCh38"
    filtering_column = "gnomAD_AF"
    filter_option = "filter2"
    alternative_transcripts = "/lustre/scratch127/casm/projects/dermatlas/resources/ensembl/dermatlas_noncanonical_transcripts_ens103.tsv"

}